  
<ion-content [fullscreen]="true">
  <div class="container">
    <div id="nameApp">
      <h1 class="title">ButCount</h1>
    </div>
    <div id=imagePlay>
      <img class="imagePlay center" src="{{imagePlay}}" (click)="goToPlay()" (press)="onPress($event)">
    </div>
    <div id=icons>
      <img class="imageIcons" src="assets/images/icon/ayuda.png">
      <img class="imageIcons" src="assets/images/icon/ranking.png">
      <img class="imageIcons" src="assets/images/icon/logros.png">
    </div>
  </div>
</ion-content>
